/*Ч цвет внешних ссылок #f70;
Ч ссылки на сервисы google должны быть цвета \#666
Ч ссылка в новом окне должна после себ€ содержать utf символ ? (без подчеркивани€)*/
a[href^="http"], a[href^="https"]{
    color:#f70;
}
a[href*="google"] {
    color:#666;
}
a[target="_blank"]:after {
    content:"\21F1";
    decoration:none;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
}

