.header, .container, .footer {
    margin-bottom: 40px;
}
.header {
    width: 966px;
    height: 120px;
}
a:link {
    text-decoration: none;
}

/*header*/
.logo {
    margin-bottom: 40px;
    height: 40px;
}

menu {
    margin: 30px 0;
}
.back {
    position: absolute;
}
.text {
    position: relative;
    left: 0;
    top: 10px;
}
.links li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
    height: 40px;
    margin: auto;
    font-family: "Open Sans R", sans-serif;
    font-size: 15px;
}
.nav a {
    color: white;
}
/*header-end*/

/*container*/
.container {
    width: 986px;
    height: 630px;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}
.sidebar {
    float: left;
    width:240px;
}
.side {
    width: 240px;
    height:240px;
    margin-right: 48px;
    padding: 0;
}
.content {
    margin-left: 288px;
    width: 678px;
}

.frame {
    background-image: url("../Images/frame.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width:678px;
    height: 440px;
    position:relative;
    margin: 0 auto;
}
.frame img {
    position:absolute;
    left:10%;
    top:10%;
}
.selectors {
    list-style-type: none;
    padding: 15px;
    border-bottom: 1px solid grey;
    background-image: url("../Images/frame-sidebar.png");
    background-repeat: no-repeat;
}
.selectors li {
    width: 240px;
    height:40px;
    font-family: "Open Sans R", sans-serif;
    font-size: 13px;
}
.selectors a {
    color: grey;
}


/*footer*/
.somelinks li {
    list-style-type: none;
    display: inline-block;
}
.somelinks a {
    color: black;
}
.backside {
    position:relative;
    left: 0;
    top: 0;
}
.sometext {
    position: relative;
    left: 0;
    top: -50px;
}
.staff {
    position: relative;
    left: 770px;
    top: -88px;
}
/*footer*-end/