.header {
    width: 966px;
    height: 120px;
}
.container {
    width: 966px;
    height:600px;
}
.footer {
    width: 966px;
    height: 40px;
    margin-top: 40px;
}
.header, .container {
    margin-bottom: 40px;
}
a:link {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/*header*/
.logo {
    height: 40px;
}
.menu {
    margin-top: 40px;
}
.back {
    position: absolute;
}
.text {
    position: relative;
    left: 0;
    top: 10px;
}
.links li {
    display: inline-block;
    width: 120px;
    height: 40px;
    margin: auto;
    font-family: "Open Sans R", sans-serif;
    font-size: 15px;
}
.nav a {
    color: white;
    width: 120px;
    height: 40px;
}
.nav a:hover {
    font-size: 20px;
    background-image: url("../Images/link.png");
    background-size: 96px;
}
/*header-end*/
/*container*/
.sidebar {
    float: left;
    margin: 0;
    padding: 0;
}
.side {
    width:240px;
    height: 240px;
    margin: 0;
    padding: 0;
}
.selectors {
    border: 1px solid grey;
    width: 240px;
    height:40px;
    padding: 0;
}
.selectors li {
    font-family: "Open Sans R", sans-serif;
    font-size: 13px;
    margin: 0;
}
.selectors a {
    color: grey;
    padding: 15px;
}
.selectors a:hover {
    font-size: 20px;
    background-image: url("../Images/hover-sidebar.png");
    background-size: 96px;
}
/*sidebar-end*/
.content {
    margin-left: 288px;
    width: 678px;
    height: 600px;
}
.frame {
    width:678px;
    height: 440px;
    position:relative;
    margin: 0 auto;
    border: 1px solid gray;
}
.frame img {
    position:absolute;
    left:10%;
    top:10%;
}
.content p {
    width: 629px;
    margin-top: 40px;
    margin-left: 24px;
    margin-right: 25px;
    font-family: "Open Sans R", sans-serif;
    font-size: 13px;
    line-height: 150%;
}
/*content-end*/
/*footer*/
.backside {
    position:relative;
    left: 0;
    top: 0;
}
.sometext {
    position: relative;
    left: 0;
    top: -50px;
}
.staff {
    position: relative;
    left: 770px;
    top: -108px;
}
.somelinks li {
    display: inline-block;
    font-family: "Open Sans R", sans-serif;
    font-size: 13px;
    width: 120px;
    height: 40px;
    margin: auto;
}
.somelinks a {
    color: black;
}
.somelinks a:hover {
    text-decoration: underline;
}
/*footer*-end/