* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family:'Open Sans' sans-serif;
}
.wrapper {
    width: 968px;
    margin: 0 auto;
}
.logo {
    padding-top: 50px;
    padding-bottom: 40px;
}
.links {
    background-image: url("../Images/panel.png");
}
.links li {
    display:inline-block;
    border: 1px solid transparent;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    width: 120px;
}
.nav a {
    color: white;
}
li.nav:hover {
    background-image: url("../Images/link.png");
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.header {
    overflow: hidden;
}
.container {
    overflow: hidden;
    margin-top: 40px;
}
.sidebar {
    float: left;
    width: 240px;
}
.content {
    float: right;
    width: 680px;
}
.selectors {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}
.side li:first-child {
    border-top: 1px solid grey;
}
.selectors a {
    color: grey;
    display: block;
    font-size: 13px;
    line-height: 40px;
    padding-left: 24px;
}
li.selectors a:hover {
    background-image: url("../Images/hover-sidebar.png");
    padding-left: 28px;
    color: black;

}
.frame img {
    border: 1px solid grey;
    height: 400px;
    width: 678px;
}
p {
    padding: 40px 0 0 25px;
    line-height: 20px;
    text-align: justify;
    height: 200px;
}
.footer {
    overflow: hidden;
    padding-bottom: 55px;
}
.somelinks {
    background-image: url("../Images/panel_bottom.png");
}
.somelinks li {
    display: inline-block;
    border: 1px solid transparent;
    margin-left: 24px;
    line-height: 40px;
    font-size: 13px;
}
.somelinks a {
    color: black;
}
.somelinks li:last-child {
    float: right;
    color: black;
    margin-right: 25px;
}
.somelinks a:hover {
    text-decoration: underline;
}